@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    @apply min-h-full;
    @apply flex;
    @apply flex-col;
}

.container {
    @apply flex;
    @apply flex-col;
    @apply justify-between;
    @apply m-3;
}

.main-text-color {
    @apply text-blue-500;
}

.main-border-color {
    @apply border-gray-200;
}

.main-border-color:focus {
    @apply border-blue-500;
    @apply ring-blue-500;
    @apply ring-opacity-25;
    @apply ring-4;
    @apply outline-none;
}

.main-btn-color {
    @apply bg-gray-700;
}

.main-btn-color:hover {
    @apply bg-gray-800;
}

.second-btn-color {
    @apply bg-gray-200;
}

.second-btn-color:hover {
    @apply bg-gray-300;
}

.success-bg-color {
    background-color: #34D399 !important;
}

.error-bg-color {
    background-color: #EF4444 !important;
}

.card-wrapper {
    @apply w-full;
}

.card {
    @apply bg-white;
    @apply rounded-xl;
    @apply w-full;
    @apply border;
    @apply border-gray-200;
}

.card-header {
    @apply text-gray-900;
    @apply font-semibold;
    @apply p-4;
    @apply border-b;
    @apply border-gray-200;
}

.card-body {
    @apply p-2;
}

.nav-link, .nav-link div {
    @apply relative;
    @apply w-12;
    @apply h-12;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply text-gray-100;
    @apply cursor-pointer;
    @apply rounded-xl;
    @apply transition-all;
    @apply duration-100;
}

.nav-link:hover {
    @apply bg-gray-100;
}

.tooltip {
    @apply hidden;
    @apply absolute;
    @apply text-sm;
    @apply text-gray-700;
    left: 90px;
    @apply py-1;
    @apply px-3;
    @apply rounded-md;
    @apply bg-gray-300;
    @apply whitespace-nowrap;
    @apply transition-all;
    @apply duration-100;
    @apply transform;
    @apply -translate-x-8;
    @apply opacity-0;
}

.tooltip::before {
    content: "";
    @apply w-3.5;
    @apply h-3.5;
    @apply bg-gray-300;
    @apply absolute;
    left: -4px;
    @apply top-1/2;
    @apply rounded;
    @apply transform;
    @apply rotate-45;
    @apply -translate-y-1/2;
}

.dark-tooltip, .dark-tooltip:before {
    @apply bg-gray-700;
    @apply text-gray-300;
}

.btn-loader .btn-icon {
    display: flex !important;
}
    
/* @media (min-width: 640px) {
    .sm\:bg-gradient-brand {
        background-image: linear-gradient(blue, green);
    }
} */
    
@media  (min-width: 768px) {
    .nav-link {
        @apply w-16;
        @apply h-16;
    }
}

@media (min-width: 1280px) {
    .nav-link:hover .tooltip {
        @apply block;
        @apply translate-x-0;
        @apply opacity-100;
    }
}
